.header {
  position: sticky;
  z-index: 1;
  top:0;
  left:0;
  grid-area: h;
  background-color: rgb(75,116,165);
  width: 100vw;
}
.header img {
  padding-left: 22vw;
  width: 40px;
  height: 40px;
}

.loginBlock {
  float: right;
  padding-right: 32.5vw;
  padding-top: 8px;
}

.loginBlock a {
  color: white;
}