.nav {
  grid-area: n;
  background-color: rgba(143, 188, 143, 0.3);
  margin-right: 5px;
  height: 45vh;
  border-radius: 5px;
}
.nav-text {
  position: relative;
  top: 5%;
  left: 30px;
}
.nav-text div {
  margin: 10px 0px;
}
.nav-text div a {
  color: black;
}