.content_img {
  width: 100%;
}
.item {
  color: black;
}
.descriptionBlock {
  padding: 10px;
}
.avatar {
  width: 200px;
  height: 200px;
}
.status {
  display: table;
  border-bottom: 1px grey solid;
}
.status div {
  display: table-cell;
}
.contacts {
  padding-left: 10px;
}