.app_wrapper {
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: rgb(220, 220, 220);
    grid-template-areas: "h h " "n c";
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 7fr;
}

.app_wrapper_content {
    display: flex;
    grid-area: c;
    background-color: white;
    width: 35vw;
}
